/* reset pradrões  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	font-family: 'Gideon Roman', cursive;
	padding-top: 100px;
	background-color: #000;
	/* background-image: url('../imagens/mancha.png');
	background-size: 50%;
	background-repeat: no-repeat;
	background-position:100% 100%; */
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Bungee', cursive;

}


img {
	width: 100%;
	/* display: none; */

}

header {
	position: fixed;
	top: 0;

	display: flex;
	width: 100%;
	padding: 10px 0 10px 0;
	justify-content: space-between;
	background-color: #ff9900;
	border: #fc7a00 5px solid;
	box-shadow: #fc7a00cc 0 4px 4px;


}

header h1 {
	width: 25%;
}

header nav {
	width: 70%;
}

nav ul {
	padding: 0;
	list-style-type: none;
	text-align: right;
}

nav ul li, nav ul li a {
	display: inline-block;
	width: fit-content;
	height: 30px;
	margin-bottom: 4px;
	padding: 8px;
}

nav ul li a {
	text-decoration: none;
	background-color: #fc7a00;
	color: rgb(0, 0, 0);

	line-height: 30px;
}

nav ul li a:hover {
	background-color: rgb(0, 0, 0);
	color: #fc7a00;
}

aside {
	width: 25%;
	background-color: #e27c07;
	padding: 12px;

}

main {
	display: flex;
	/* vh corresponde a % da tela do dispositivo 90vh= 90% da altura da tela  */
	min-height: 90vh;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
}


p {
	margin: 10px;
}

li, p, h1, h2, h3, h4 {
	font-size: 1.2em;
}

h2, h3, h4 {
	margin: 7px;
}

li {
	margin: 10px;
	margin-left: 20px;
	list-style-type: none;
}

main a {
	text-decoration: none;
	color: rgb(91, 8, 129);
}

main a:hover {
	color: #fc7a00;
	background-color: rgb(0, 0, 0);
}

footer {
	color: #e27c07;
}

.box figure {
	height: 220px;
	overflow: hidden;
	border: black solid 1px;
}

.box {
	width: 45%;
	padding: 10px;
	margin-bottom: 12px;
	background-color: aliceblue;

}


.fotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.fotos, .conteudo {
	width: 70%;
	padding: 10px;
	background-color: #fc7a00;
}


.ico-logo {
	width: 40px;
	margin: 0 10px 0 0;
}

.modal {
	position: fixed;
	top: 20%;
	right: 10px;
	width: 200px;
	padding: 10px;
	background-color: yellow;
	border: #e27c07;
}

.modal .fechar {
	position: absolute;
	right: 10px;
	top: 4px;
	width: 20px;
	padding: 2px;
	background-color: red;
	color: white;
	text-align: center;
}

footer p {
	text-align: center;
}

/* Nos desktops o menu hamburguer é oculto */

.menu-hamburguer {
	display: none;
}

.menu-phone {
	display: none;
}

#img-escrever {
	margin-top: -80px;
}



/* layout para tablets e celulares */
@media only screen and (max-width: 992px) {
	main {
		flex-direction: column-reverse;
	}

	aside, .conteudo, .fotos {
		width: 100%;
		margin: 0 auto;
	}

	nav {
		display: none;
	}

	header h1 {
		width: 60%;
	}

	.menu-hamburguer {
		display: block;
		width: 40px;
		cursor: pointer;
	}

	.menu-phone {
		display: block;
		position: fixed;
		left: 0;
		top: 0;
		width: 50%;
		padding: 10px;
		background-color: #fff;
		z-index: 1000;


	}

	.menu-phone ul {
		padding: 0;
		list-style: none;
	}

	.menu-phone ul li, .menu-phone ul li a {
		display: block;
		width: 100%;
		margin: 0;
		padding: 0;
		text-align: left;
		margin-bottom: 2px;
		text-indent: 10px;
	}





















}